.familyComponent{
    width: 1449px;
    height: 789px;
    top: 4171px;
    left: -5px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
}