.searchArea__body {
  position: absolute;
  top: 200px;
  width:1200px;
  height: 429px;
  top: 500px;
  background-color: white;
    border: 1px solid black;
}

.searchArea__input{
    margin-top: 70px;

}

.searchArea__form{
display: flex ;
gap:90px;

}

.form__input{
    display: flex;
    color: black;
    width: 285px;
    height: 50px;
    top: 584px;
    left: 339px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    background-color: #FAFBFE;
    border : 3px solid #F0F0F0;
    border-radius: 10px;
    
}
.searchArea__content{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}


@media (max-width:1170px){
    .searchArea__body{
      width: 60%;
      background-color: red;
    }
    .searchArea__form{
        display: flex ;
        flex-direction: column;
        gap:5px;
        }
  }