.navbar{
display: flex;
justify-content: space-between;
align-items: center;

}

.navbar__title{
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
    color: white;
}