@tailwind base;
@tailwind components;
@tailwind utilities;



@media (max-width:1170px){
  .navbar__body{
      width: 100%
  }
  .searchArea__body{
    width: 500px;
    background-color: red;
  }
}
@media (max-width:920px){
  .navbar__buttons{
      display: none;
  }
  .navbar__menu{
      display: block ;
      position: absolute;
      right:0;
      margin-right: 10px;
      
  }
  .nav__body{
      justify-content: space-between;
  }
}

@media (max-width:864px){
  .hero__image{
      display: none;
  }
  .hero__text{
      position: absolute;
      left:0
  }
}


@media (max-width:864px){
.hero__text{
  font-size: small;
}
}


@media (max-width:440px){
  .hero__text1{
      font-size: 42px;
  }
}