
.Button{
    background-color:#2AA8FF;
    color: white;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.buttonIcon{
    max-width: 12px;
}
.largeButton{
    padding: 0.75rem 2.25rem;
    font-weight: 500;
}

