.discount-carousel-container {
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 350px;
    z-index: 1;
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
    background-color: white;
}

.discount-carousel-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.discount-carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 150px;
    overflow: hidden;
    margin: 10px 0px; /* Reduced padding for better balance */
}

.discount-carousel-img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.discount-carousel-img:hover {
    transform: scale(1.05);
}

/* Responsive Design */
@media  (max-width: 1124px){
    .discount-carousel-container h1 {
        font-size: 2rem;
    }
    .discount-carousel-container {
        margin: -100px 0px 0px 0px; /* Adjusted margin for better spacing */
    }
}


@media (max-width: 768px) {
    .discount-carousel-container h1 {
        font-size: 1.8rem;
    }
    .discount-carousel-img {
        max-width: 350px; /* Max-width instead of min-width */
        height: 175px;    /* Adjusted height */
    }
    .discount-carousel-slide {
        padding: 50px 0; /* Reduced padding for tablets */
    }
}

@media (max-width: 667px) {
    .discount-carousel-container {
        margin-top: -100px; /* Reduced margin for mobile */
    }
}

@media (max-width: 480px) {
    .discount-carousel-container h1 {
        font-size: 1.5rem;
    }
    .discount-carousel-container {
        margin-top: 550px; /* Reduced margin for mobile */
    }

    .discount-carousel-img {
        max-width: 400px; /* Smaller max-width for mobile */
        height: 125px;
    }
}
